#about {
	padding: 75px 15px;
	border-bottom: 1px solid #dcd9d9
}

#about h2 {
	color: #374054
}

#about p {
	color: #74808a;
	margin: 0
}
@media only screen and (max-width: 992px) {
	#about {
		text-align: center
	}
	#about p {
		text-align: left
	}
}